<div id="login-page">
  <h2>Books App</h2>
  <div class="login-form">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        {{input value=username required=true placeholder="Enter username" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        {{input type="password" value=password placeholder="Enter password" id="exampleInputPassword1" class="form-control" aria-describedby="passwordHelp"}}
        <small id="passwordHelp" class="form-text text-muted">Testing credentials test/test</small>
      </div>
      <button type="submit" class="btn btn-primary" onclick={{ action "login"}}>Submit</button>
    </form>
  </div>
</div>